/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: grey;
  color: white
}

h1 {
  text-align: center;
  font-size: 4em;
  color: yellow;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
  border: 2px solid black;
  padding: 1.5px;
  background-color: #2596be;
  transition: .5s;
}

h1:hover {
  background-color: #e28743;
  translateY: -100px;
}
