/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: grey;
  color: white
}

h1 {
  font-style: italic;
  text-align: center;
  font-size: 4em;
  color: yellow;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
}

h1:hover {
  
}
